{% extends "data-user/base.html" %}
{% block title %}search-files{% endblock %}
{% block img %}
<img src="/media/{{view}}" style="width: 50px; height: 50px; border-radius: 70px;" alt="no image" >
{% endblock %}

{% block content %}

<div class="table-responsive text-white" style="margin-bottom: 250px;">
    <div class="container text-white" >
            <h2 class="mb-3 text-white text-center"> Search Files </h2>
            <table class="table table-bordered text-white" id="sortTable">
            <thead>
              <tr>
                
                <th>
                  User
                </th>
                <th>
                  File name
                </th>
                <th>
                  Description
                </th>
                <th>
                  File Size
                </th>
                <th>
                  Date
                </th>
                <th>
                    Action
                </th>
                <th>
                  Download
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in view1 %}
              <tr>
                <td>
                    <img src="/media/{{i.owner.user_image}}" style="width: 70px; height: 50px; border-radius: 50px;" alt="image"/>
                    <span>{{i.owner.user_name}}</span>
                </td>
                
                <td>
                {{i.file_name}}
                </td>
                <td>
                  {{i.decription}}
                </td>
                <td>
                  {{i.file_size}}
                </td>
                <td>
                  {{i.datetime_created|timesince}} ago
                </td> 
                <td> 
                    <a href="file_request/{{i.id}}/{{view2}}"><button class="btn btn-success">Request</button></a>
                </td> 
                <td>
                  <a href="download"><button style="width: 150px;" class="btn btn-success">Download</button></a>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
          <script>
            $('#sortTable').DataTable();
            </script>

    </div>
  </div>
{% endblock %}